.header {
	background-color: #fff;
	border-bottom: 1px solid gray;
}
.body {
	display: flex;
	align-items: center;
}
.navigation {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}