.login {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 350px;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border: 1px solid #d1f5f5;
	background-color: #e8f9f9;
	gap: 30px;
	transition: transform 0.2s ease;
	padding: 20px;
}
.formbody {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	width: 100%;
	div {
		position: relative;
		width: 100%;
	}
}
label {
	display: block;
}
.input {
	display: block;
	padding: 0 15px;
	display: block;
	height: 2.5em;
	padding: 0 0.5em;
	display: block;
	outline: none;
	width: 100%;
}
.errorInput {
	border: 1px solid #ff0000;
}
.error {
	position: absolute;
	bottom: -20px;
	left: 0;
	font-size: 14px;
	color: #ff0000;
}
.btn {
	width: 100%;
	padding: 0.75em;
	border: none;
	background-color: blue;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	align-content: center;
	gap: 5px;
	justify-content: center;
}
