.nav {
	display: flex;
	gap: 1px;
	height: 100%;
	gap: 1.5rem;
}
.link {
	display: flex;
	align-items: center;
	gap: 5px;
	transition: 150ms background-color;
	text-decoration: none;
	color: #000;
	&:hover {
		color: blue;
	}
}
.active {
	color: blue;
}