.footer {
	background-color: #fff;
	border-top: 1px solid gray;
}
.body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.text {
	font-size: 14px;
	color: #000;
}
.source {
	font-size: 16px;
	transition: 150ms color;
	opacity: 0.5;
	&:hover {
		color: #5f828d;
	}
}