.usermenu {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 1.5rem;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 5px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	&:hover {
		color: red;
	}
}
